.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #000000;
    width: 455px;
    height: 157.5px;
    position: relative;
    z-index: 4;
    clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 100%, 0 7%);
    margin-right: 50px;
}

.card:last-of-type {
    margin: 0;
}

.card__container {
    margin: 1.25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F8F8F8;
    width: 452.5px;
    height: 155px;
    position: relative;
    z-index: 4;
    clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 100%, 0 7%);
}

.card__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 19px 0 19px 36px;
}

.card__title {
    font-family: 'Druk Wide';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 25.5px;
    color: #C4C4C4;
    margin: 0 0 20px;
    padding: 0;
}

.card__subtitle {
    font-family: 'Druk Wide';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 15.5px;
    color: #000000;
    margin: 0 0 20px;
    padding: 0;
}

.card__paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12.5px;
    letter-spacing: 0.1em;
    color: #1F2326;
    margin: 0;
    padding: 0;
    max-width: 196.5px;
}

.card__icon-container {
    height: 100%;
    width: 53%;
}

.card__icon-square {
    width: 118.5px;
    height: 113.5px;
    background-color: #FF4656;
    position: absolute;
    bottom: 0;
    right: 73.5px;
}

.card__basic-icon {
    width: 104px;
    height: 100.5px;
    position: absolute;
    top: 19px;
    right: 32.5px;
    background-color: transparent;
}

.card__signature-icon {
    width: 106px;
    height: 106px;
    position: absolute;
    top: 13.5px;
    right: 50px;
    background-color: transparent;
}

.card__ultimate-icon {
    width: 111.5px;
    height: 97.5px;
    position: absolute;
    top: 22.5px;
    right: 41px;
    background-color: transparent;
}

.card__last {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #000000;
    width: 139px;
    height: 157.5px;
    position: relative;
    z-index: 4;
    clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0 100%, 0 7%);
    margin-right: 50px;
}

.card__last-container {
    position: absolute;
    top: 1.25px;
    bottom: 1.25px;
    right: 1.25px;
    left: 1.25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    width: 136.5px;
    height: 155px;
    position: relative;
    z-index: 4;
    clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0 100%, 0 7%);
}

.card__arrow {
    width: 13px;
    height: 11px;
}