.circle__big-red {
    width: 1125px;
    height: 1125px;
    position: absolute;
    top: -287.5px;
    left: -287.5px;
    background: #FF4656;
    border-radius: 50%;
}

.circle__mini-red {
    width: 27.5px;
    height: 27.5px;
    position: absolute;
    top: 46px;
    right: 136px;
    background: #FF4656;
    border-radius: 50%;
}

.circle__big-white {
    width: 293.5px;
    height: 293.5px;
    position: absolute;
    left: 110px;
    bottom: -162.5px;
    background: #EFEFEF;
    border-radius: 50%;
}

.circle__mini-white {
    width: 167.5px;
    height: 167.5px;
    position: absolute;
    top: 101px;
    right: 65px;
    background: #EFEFEF;
    border-radius: 50%;
}

.circle__big-gray {
    width: 61px;
    height: 61px;
    position: absolute;
    top: 296px;
    right: 296px;
    background: #505155;
    border-radius: 50%;
}

.circle__mini-gray {
    width: 38.5px;
    height: 38.5px;
    position: absolute;
    left: 70px;
    bottom: 111px;
    background: #505155;
    border-radius: 50%;
}

.circle__black {
    width: 901px;
    height: 901px;
    position: absolute;
    right: -226px;
    bottom: -320px;
    background: #292C31;
    border-radius: 50%;
}