.main {
    margin: 0;
    width: 100%;
    min-height: 907.5px;
    background-image: url("../../images/background.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-color: #FF4656;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: row;
    position: relative;
}

.main__title {
    font-family: 'Druk Wide';
    font-style: normal;
    font-weight: 500;
    font-size: 97.5px;
    line-height: 127.5px;
    text-align: center;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -150px;
    top: 312.5px;
    transform: rotate(90deg);
}

.players {
    position: absolute;
    top: 70.5px;
    right: -20px;
    display: flex;
    flex-direction: row;
}